<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/eb6b112686.js" crossorigin="anonymous"></script>
</head>

<body>'
    <h1>ToDo's</h1>

    <div class="container">
        <ul>
            <% todos.forEach( el => { %>
            <li class="todoItem" data-id="<%=el._id%>">
                <input type="checkbox">
                <p class="<%= el.completed === true ? 'completed' : 'not'%>"> <%= el.todo %> </p>
                <span class='del fa-regular fa-trash-can'></span>
            </li>
            <% }) %>
        </ul>
    </div>

    <div class="form-container">
        <h2>Things left to do: <%= left %> </h2>
        <form action="/todos/createTodo" method='POST'>
            <input type="text" placeholder="Enter Todo Item" name='todoItem'>
            <input type="submit">
        </form>
    </div>

    <script src="js/main.js"></script>
</body>

</html>