* {
    margin: 0;
    font-size: 16px;
}

html {
    font-family: sans-serif;
}

body {
    height: 100vh;
}


h1 {
    font-size: 5rem;
}

h2 {
    margin-bottom: 0.5rem;
}

ul {
    padding: 0;
    text-align: left;
    list-style: none;
}

ul li {
    margin: 0.5rem 0;
    font-size: 1rem;
    border-bottom: 1px solid #F1F1F1;
    display: flex;
    align-items: center;
}

input {
    border: none;
    border-radius: 2px;
    box-shadow: 5px 5px #8888882e;
}

input:checked+p {
    background: #F9F9F9;
    text-decoration: line-through;
  }

  input[type="checkbox"] {
    margin: 20px;
  }

  p {
    margin: 0;
    padding: 20px;
    transition: background 0.2s;
    /* flex: 1; */
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
    border-left: 1px solid #D1E2FF;
  }


.container {
    max-width: 400px;
    margin: 50px 0;
    background: white;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.form-container{
    max-width: 400px;
}

.completed {
    text-decoration: line-through;
}