
* {
    margin: 0;
    font-family: monospace;
    font-size: 16px;
}

body {
    height: 100vh;
    display: flex;
    align-items: center; 
}
    

h1{
    color: rgb(16, 135, 178);
    font-size: 5rem;
}

h2 {
    margin-bottom: 0.5rem;
}

ul {
    padding: 0;
    text-align: left;
    list-style: circle inside;
}

ul li {
    margin: 0.5rem 0;
    font-size: 1rem;
}

ul li span {
    margin-right: 2px;
}


.container {
    margin: 0 auto;
    padding: 3rem;
    width: 50%;
    height: 75%;
    text-align: center;
    background-color: khaki;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.completed{
    text-decoration: line-through;
    color: rgb(179, 69, 10);
}
.not{
    
}

.form-container {
    margin-bottom: 5rem;
}
